<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<center>
  <h1>Reset Password</h1>
  <p>
    To reset your password, please click the following link. If you didn't request this reset, please ignore this message.
  </p>
  <p>
    <a href="{{ .Url }}?token={{ .Token }}&userid={{ .UserID }}" target="_blank">Reset Password</a>
  </p>
</center>
</body>
</html>