<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<center>
  <h1>Reset Password</h1>
  <p>
    This email address was used to create an Account at <a href="{{ .Url }}">WEBSITE</a>. To verify this email address is yours, please click "Verify".&nbsp;
  </p>
  <p>
    <a href="{{ .Url }}?token={{ .Token }}" target="_blank">Verify Email</a>
  </p>
</center>
</body>
</html>